---
import projects from "../data/projects.json";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout>
    <article>
        <header>
            <strong><i class="bi bi-suitcase-lg-fill"></i> My projects</strong>
        </header>

        {
            projects.map((item) => (
                <article class="project">
                    <header>
                        <strong>
                            <>
                                <h4>{item.title}</h4>
                                <p>
                                    <b>Status:</b> <u>{item.status}</u>
                                </p>
                            </>
                        </strong>
                    </header>

                    <div class="grid">
                        {item.image != "" && <img src={item.image} alt="" />}

                        <div class="container">
                            <h4>Description:</h4>
                            <div>
                                <p class="des">{item.description}</p>
                            </div>
                        </div>
                    </div>

                    <a href={item.url} role="button" class="secondary">
                        <i class="bi bi-box-arrow-in-down-right" /> Go to the
                        project
                    </a>
                </article>
            ))
        }
    </article>
</MainLayout>

<style>
    a {
        margin: 10px 0px;
        width: 100%;
    }

    .container {
        justify-content: center;
        flex-flow: column nowrap;
        display: flex;
    }

    .project {
        opacity: 0;
        scale: 0;

        animation: appear ease-in-out both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }

    @keyframes appear {
        to {
            opacity: 1;
            scale: 1;
        }
    }
</style>
