---
const { title, image_src, status, description, url } = Astro.props;
---

<article>
    <header>
        <strong><h4>{title}</h4><kbd>Status : {status}</kbd></strong>
    </header>


    <div class="grid">
        {image_src != "" && <img src={image_src} alt="" />}

        <div class="container">
            <h4>Description:</h4>
            <div>
                <p class="des">{description}</p>
            </div>
        </div>
    </div>

    <a href={url} role="button"
        ><i class="bi bi-box-arrow-in-down-right"></i> Go to project</a
    >
</article>

<style>
    a{
        margin: 10px 0px;
        width: 100%;

        border-radius: 0px;
    }


    .grid {
        justify-items: center;
    }

    img {
        border-radius: 5px;
        aspect-ratio: 16/9;
        width: 100%;
    }

    .container {
        justify-content: center;
        flex-flow: column nowrap;
        display: flex;
    }

    article{
        animation: appear ease-in-out both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }

    @keyframes appear {
        from{
            opacity: 0;
            translate: 0 100px;
        }
        
        to{
            opacity: 1;
            translate: 0 0;
        }
    }
</style>
